<% if @game.status.nil? || @game.status == Game::STATUS[:waiting] %>
  <div class="waiting_room">
    <h3>Players waiting</h3>
    <% @game.users.each do |u| %>
      <span class="waiting_room__player"><%= u.username %></span><br />
    <% end %>
    <% if @game.users.include?(current_user) %>
      <%= button_to [:start, @game] do %>
        Start Game
      <% end %>
    <% else %>
      <%= button_to [:join, @game] do %>
        Join Game
      <% end %>
    <% end %>

  </div>
<% elsif @game.status == Game::STATUS[:started] %>
  <%= react_component("App", {game: @game, current_user: current_user}) %>
<% end %>
