@import 'color';

.game_info {
  top: calc(50% - 168px/2);
  left: calc(50% - 617px/2);
  position: absolute;
  height: 168px;

}

.deck {
  margin-left: 10px;
  display: inline-block;

  .remaining {
    position: relative;
    top: 62px;
    left: 25px;
    color: white;
    font-size: 20px;
  }

  .card {
    margin: 0;
  }
}

.discarded {
  margin: 5px;
  display: inline-block;
  text-align: center;
  color: white;

  .card {
    margin: 0;
  }
  .card:hover {
    transform: scale(3);
  }
}

.game_info__log--parent {
  display: inline-block;
}

.game_info__log__current_card {
  display: inline-block;
  position: relative;
  left: -255px;
  z-index: 1;
  transform: scale(1.5);
  margin-right: -210px;
}

.game_info__log__intuicion_card {
  position: relative;
  top: -109px;
  left: 70px;
}

.game_info__log__current_card__log {
  font-size: 10px;
  display: inline-block;
  width: 204px;
  margin-top: -100%;
  background: #937B63;
  border: solid 1px #937B63;
  padding: 2px;
  border-radius: 5px;
  box-sizing: border-box;
}

.game_info__log {
  display: inline-grid;
  border: 1px solid;
  height: 140px;
  padding: 2px;
  overflow-y: scroll;
  width: 350px;

  &__item {
    font-size: 14px;

    &__player {
      margin-right: 3px;
      color: $blueviolet;
    }

    &__message {
      &--error { color: $deeppink; }
      &--first { color: black; }
      &--info { color: $kombugreen; }
    }
  }
}

.game_end {
    background: #d5ddbc;
    position: relative;
    display: block;
    text-align: center;
    z-index: 1;
}
