@import 'color';

div.shuriken_token {
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: text-bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: image-url('shuriken_token.png');
}

div.heart_token {
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: text-bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: image-url('heart_token.png');
}

div.logged_in_player {
  position: absolute;
  bottom: 0px;
  margin: 0 auto;
  width: 99%;
  text-align: center;

  .player__visible_cards {
    display: block;
    min-height: 70px;
  }
}


@keyframes blink {
   50% { border-color: #d5ddbc; }
}

div.player {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  min-height: 188px;

  &__turn {
    border: 3px solid $blueviolet;
  }

  &--pending_answer {
    border: 3px solid #8A9B68;
    animation: blink .5s step-end infinite alternate;
  }

  &__visible_cards {
    display: inline-block;

    .card {
      display: inline-block;
    }
  }

}

div.player__info {
  display: inline-block;
  vertical-align: top;

  span.player__info--other-name {
    display: inline-block;
    margin-right: 5px;
  }

  .honor {
    display: inline-block;

    .shuriken_token {
      display: inline-block;
    }
  }

  .resistance {
    display: inline-block;
    margin-left: 5px;

    .heart_token {
      display: inline-block;
    }
  }

  &--current {
    .honor {
      vertical-align: top;

      .shuriken_token {
        display: block;
      }
    }

    .resistance {
      vertical-align: top;

      .heart_token {
        display: block;
      }
    }
  }
}

.tokens-enter {
  opacity: 0.01;
  width: 0px;
}

.tokens-enter.tokens-enter-active {
  opacity: 1;
  width: 20px;
  transition: 3000ms;
}

.tokens-leave {
  opacity: 1;
  width: 20px;
}

.tokens-leave.tokens-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 3000ms;
}

div.player-cards {
  display: inline-block;
  margin-bottom: 50px;

  .card:hover {
    margin-top: -50px;
  }

  .player-cards__role {
    display: inline-block;
  }

  .player-cards__character {
    display: inline-block;
  }

  .player-cards__actions {
    display: inline-block;
    white-space: nowrap;
    max-height: 113px;
    min-width: 109px;
    width: calc(100% - 170px);

    .card {
      display: inline-block;

      &.hidden:not(:first-child) {
        margin-left: -130px;
      }
    }
  }

  &--other {
    display: inline-block;

    div.player-cards__character {
      display: inline-block;

      .card:hover {
	margin-bottom: -47px;
      }
    }

    .player-cards__role {
      display: inline-block;
    }

    div.player-cards__actions.hidden {
      display: inline-block;
      vertical-align: top;

      .card {
        display: inline-block;

        &.hidden:not(:first-child) {
          margin-left: -72px;
        }

      }

      .card.daimio {
        margin-left: -60px;
        margin-right: 60px;
      }

      .player-cards__actions__amount {
        position: relative;
        left: -36px;
        top: 44px;
        color: white;
        font-size: 20px;
        float: right;
        margin-left: -10px;
      }

      .player-cards__actions__intuicion {
        margin-top: -55px;
      }
    }
  }
}

div.other_players {
  text-align: center;

  .player {
    min-height: 0px;
  }

  .player--first-child {
    float: left;
    position: relative;
    top: 220px;

    .player__visible_cards { display: block; }
  }

  .player--last-child {
    float: right;
    position: relative;
    top: 220px;

    .player__visible_cards { display: block; }
  }

  .player__info { display: block; }

  .player__visible_cards {
    .card {
      display: inline-block;

      &:not(:first-child) { margin-left: -40px; }
    }

    .card:hover {
      margin-top: -80px;
    }
  }
}

div.player__respond div {
  display: block;
}

.card_animation-enter {
  opacity: 0.01;
  width: 0px;
}

.card_animation-enter.card_animation-enter-active {
  opacity: 1;
  width: 72px;
  transition: 3000ms;
}

.card_animation-leave {
  opacity: 1;
  width: 72px;
}

.card_animation-leave.card_animation-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 3000ms;
}

div.player__actions {
  display: inline-block;
  float: right;
  margin-bottom: 20px;
}
